.ToDoList {
    text-align: center;
    background-color: darkgray;
    font-size: calc(20px + 2vmin);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 20vmin;
    text-decoration: wavy;
    vertical-align: middle;
}
